@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  all: unset;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #83869A;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 16px;
  background-color: #FFFFFF;
}
.container nav .nav-name {
  font-size: 28px;
  font-weight: bolder;
  color: #13183F;
}
.container nav .nav-btn {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #13183F;
  width: 140px;
  height: 48px;
  text-align: center;
  border-radius: 24px;
  z-index: 99;
}
.container nav .nav-btn:hover {
  opacity: 0.7;
}
.container .page {
  width: 100%;
  background: linear-gradient(0deg, #efeffa 0%, #FFFFFF 100%);
  padding: 16px;
  padding-bottom: 72px;
}
.container .page main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.container .page main h1 {
  color: #13183F;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.container .page main p {
  color: #83869A;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 1rem;
}
.container .page main button {
  color: #FFFFFF;
  font-size: 16px;
  width: 167px;
  height: 56px;
  text-align: center;
  border-radius: 28px;
  background: linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%);
  margin-bottom: 1rem;
}
.container .page main button:hover {
  opacity: 0.7;
}
.container .page main .main-img {
  background-image: url(./starter-code/assets/image-hero-mobile.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.container .page .cards {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.container .page .cards .intro {
  background: linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%);
  height: 120px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 1rem;
}
.container .page .cards .intro p {
  font-size: 24px;
  padding: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.container .page .cards .card {
  height: 255px;
  padding: 2rem;
  position: relative;
  background: #FFFFFF;
  margin: 3rem 0 0 0;
  border-radius: 10px;
}
.container .page .cards .card .card-img {
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  top: -28px;
  background: linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%);
}
.container .page .cards .card .card-img.animation {
  background-image: url(./starter-code/assets/icon-animation.svg);
  background-size: cover;
  background-position: center;
}
.container .page .cards .card .card-img.design {
  background-image: url(./starter-code/assets/icon-design.svg);
  background-size: cover;
  background-position: center;
}
.container .page .cards .card .card-img.photo {
  background-image: url(./starter-code/assets/icon-photography.svg);
  background-size: cover;
  background-position: center;
}
.container .page .cards .card .card-img.crypto {
  background-image: url(./starter-code/assets/icon-crypto.svg);
  background-size: cover;
  background-position: center;
}
.container .page .cards .card .card-img.business {
  background-image: url(./starter-code/assets/icon-business.svg);
  background-size: cover;
  background-position: center;
}
.container .page .cards .card h3 {
  font-size: 20px;
  color: #13183F;
  font-weight: bolder;
  padding: 1rem 0 1.5rem 0;
}
.container .page .cards .card p {
  font-size: 16px;
  color: #83869A;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.container .page .cards .card button {
  color: #F74780;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 3rem;
}
.container .page .cards .card button:hover {
  opacity: 0.7;
}
.container footer {
  width: 100%;
  height: 120px;
  background: #13183F;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container footer .footer-name {
  font-size: 28px;
  font-weight: bolder;
  margin-left: 1rem;
}
.container footer button {
  width: 140px;
  height: 48px;
  border-radius: 24px;
  background: linear-gradient(0deg, #F02AA6 0%, #4851FF 100%);
  text-align: center;
  margin-right: 1rem;
}
.container footer button:hover {
  background: linear-gradient(0deg, #e58dc4 0%, #7d82e6 100%);
}

@media screen and (min-width: 768px) {
  .container nav {
    padding: 24px 39px;
  }
  .container .page {
    padding: 24px 39px 72px 39px;
  }
  .container .page main {
    flex-direction: row;
    height: 500px;
  }
  .container .page main .main-content {
    width: 58%;
  }
  .container .page main .main-img {
    background-image: url("./starter-code/assets/image-hero-tablet@2x.png");
    width: 640px;
    height: 640px;
    position: absolute;
    right: -300px;
    top: -150px;
  }
  .container .page .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .container .page .cards .intro {
    height: 255px;
    padding: 30px 0;
    margin-top: 3rem;
    align-items: start;
  }
  .container footer .footer-name {
    margin-left: 40px;
  }
  .container footer .footer-btn {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container nav {
    padding: 33px 165px 24px 165px;
  }
  .container nav .nav-btn {
    font-size: 18px;
    height: 56px;
    width: 167px;
    border-radius: 28px;
  }
  .container .page {
    padding: 24px 165px 168px 165px;
  }
  .container .page main {
    height: 750px;
  }
  .container .page main .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .container .page main .main-content h1 {
    font-size: 52px;
    margin-bottom: 2rem;
  }
  .container .page main .main-content p {
    color: #13183F;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .container .page main .main-content button {
    height: 63px;
    border-radius: 31.5px;
  }
  .container .page main .main-img {
    background-image: url("./starter-code/assets/image-hero-desktop@2x.png");
    width: 990px;
    height: 990px;
    position: absolute;
    right: -450px;
    top: -250px;
  }
  .container .page .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .container .page .cards .intro {
    padding: 40px 30px;
    height: 320px;
  }
  .container .page .cards .intro p {
    font-size: 30px;
  }
  .container .page .cards .card {
    height: 320px;
  }
  .container .page .cards .card h3 {
    font-size: 24px;
    padding: 2rem 0;
  }
  .container .page .cards .card p {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .container footer .footer-name {
    margin-left: 165px;
  }
  .container footer .footer-btn {
    margin-right: 165px;
  }
}/*# sourceMappingURL=style.css.map */